*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Helvetica';
    color:seashell;
    background-color: black;
    
}

main{
    position: relative;
    top:69px;
}

/* Header */
header{
    font-size: 22px;
    border-bottom: 1px solid seashell;
    position: fixed;
    width: 100%;
    background-color: black;
    z-index: 1;
}

nav{
    display: flex;
    justify-content: space-between;
    height: 69px;
    align-items: center;
    margin: 0 10px;
}

header nav a img{
    height: 50px;
}

header nav li{
    display: inline;
    margin: 0 10px;
}

header nav li a{
    color: white;
}

/* Banner */
.banner{
    position: relative;
    top: 69px;
    z-index: 0;
    height: 700px;
    background-image: url('../../resources/images/img-mission-background.jpg');
    background-repeat: no-repeat;
    width: 1200px;   
    margin: auto;
}

.banner-heading{
    position: relative;
    top: 50%;
    background-color: black;
    width: 1200px;
    text-align: center;
}

/* Tea of Month */

.tea-of-month{

}

.container{
    margin: auto;
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
}

.item{
    margin:10px;
    width: 300px;
}

.item img{
    height: 200px;
    width: 300px;
    margin-bottom: 10px;
}

.tea-of-month h2, .tea-of-month p{
    text-align: center;
}

footer{
    position: relative;
    top: 200px;
}

footer .tea-cozy-contact{
    text-align: center;
    height: 200px;
}