*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Helvetica';
    color:seashell;
    background-color: black;
}

main{
    position: relative;
    top:69px;
}

/* Header */
header{
    font-size: 22px;
    border-bottom: 1px solid seashell;
    position: fixed;
    width: 100%;
    background-color: black;
    z-index: 1;
}

nav{
    display: flex;
    justify-content: space-between;
    height: 69px;
    align-items: center;
    margin: 0 10px;
}

header nav a img{
    height: 50px;
}

header nav li{
    display: inline;
    margin: 0 10px;
}

header nav li a{
    color: white;
}

/* Banner */
.banner{
    position: relative;
    top: 69px;
    z-index: 0;
}

